.comments-container {
  margin-bottom: 50px;
  text-align: center;
}
.comments-list {
  display: inline-block;
  text-align: center;
  display: table;
  margin: 0 auto;
}

.comments-list-item {
  list-style: none;
  margin-bottom: 20px;
  border-style: groove;
  border-radius: 20px;

  text-align: left;
  padding: 10px 10px 10px 20px;
}
